*{
     margin:0;
     padding:0; 
}

header{
    
}
.nav-bar{
color:#fff;
background-color:rgb(49, 55, 71);
}
.login{
    width: 90px;
    margin-left: 1270px;
    transition: step-start;
}

.hellotextdesine{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    text-align:-50px,50px;
    margin-left: 80px;
    transition:ease-in-out
    cursor:cubic-bezier(1, 0, 0, 1)
     
    }
    
.nav-right{
    text-align: right;
}
ul li {
    display: inline-block;
    margin:20px;
    list style:none;
}
.logo{
    width: 40%;
    color:royalblue;
    background-image: -linear-gradient(#8d98e3, #854fee);
    
}
ul li a {
    text-decoration: none;
    color: #fff
    padding: 5px 20px;
    border: 1px solid;color:#fff;
    transition:0.6s;
}
ul li a:hover{
    background-color:turquoise;
    color:black;
    transition:cubic-bezier(1, 0, 0, 1);
}
margin: 0;
 padding: 0;
 font-family: 'Cinzel', serif;
}

.bgimg{
 width: 100%;
 height: 100vh;
 background-image: linear-gradient(27deg, #004E95 50%, #013A6B 50%);
}

.centerdiv{
 width: 350px;
 height: 400px;
 position: absolute;
 top: 50%;
 left: 50%;
 background-color: red;
 transform: translate(-50%, -50%);
 background-image: linear-gradient(27deg, #013A6B 50%, #004E95 50%);
 box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

#profilepic{
 width: 120px;
 height: 120px;
 border-radius: 50%;
 position: relative;
 top: -60px;
 left: calc( (350px - 120px) / 2 )
}

h2{
 text-align: center;
 color: white;
 text-transform: uppercase;
 font-size: 2em;
 word-spacing: 10px;
 margin-top: -50px;
 margin-bottom: 50px;
 text-shadow: -2px 2px 1px #0A84C6;
}

.inputbox{
 width: calc(100% - 40px);
 height: 30px;
 display: block;
 margin: auto;
 padding: 0 10px;
 box-sizing: border-box;
}

::placeholder{
 letter-spacing: 2px;
 color: black;
}

button{
 width: calc(100% - 40px);
 height: 30px;
 display: block;
 margin: auto;
 color: white;
 background-color: #0A84C6;
 border: none;
}

.FORGOT-SECTION{
 width: calc(100% - 40px);
 line-height: 30px;
 display: block;
 margin: auto;
 color: white;
 background-color: dodgerblue;
 text-transform: uppercase;
 font-size: 0.8em;
 text-align: right;
 padding-right: 20px;
 box-sizing: border-box;

}